.logo__text {
  font-size: 39px;
  font-weight: 700;
  letter-spacing: -2px;
  font-family: "Segoe UI";
  text-transform: uppercase;
  line-height: 0;
  padding: 0;
  margin: 0;
  transform: scaleY(1.5);
  user-select: none;
}

#logo {
  position: absolute;
  width: 320px;
  height: 60px;
  transform: scale(2.5);
  left: calc(50% - 160px);
  top: calc(50vh - 60px);
  animation: 0.5s main 1.5s var(--ease-out-quint) forwards;
}

/* ANIMATIONS */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: none;
  }
}

/* MAIN */

@keyframes main {
  100% {
    top: 45px;
    transform: scale(1.2);
  }
}

@media (width <= 950px) {
  #logo {
    transform: scale(1);
  }
  @keyframes main {
    100% {
      left: -20px;
      top: 8px;
      transform: scale(0.6);
    }
  }
}

/* ANTONINIK (left) */

#logo__antoninik_back {
  animation: 1.5s logoAntoninikBack var(--ease-out-quint) forwards;
  transform-origin: 50px center;
}

@keyframes logoAntoninikBack {
  0% {
    transform: translateX(50px) scale(0.3);
    opacity: 0.3;
  }
  50% {
    transform: translateX(50px) scale(1);
    opacity: 1;
  }
  100% {
    transform: none;
  }
}

#logo__antoninik {
  transform: translateX(-100px);
  animation: 0.75s slideRight 0.75s var(--ease-out-quart) forwards;
}

/* BLOG (right) */

#logo__blog_lines {
  opacity: 0;
  animation: 1.5s logoBlogLines var(--ease-out-quart) forwards;
}

@keyframes logoBlogLines {
  49% {
    opacity: 0;
  }
  50% {
    transform: translateX(-50px);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

#logo__blog_text {
  animation: 1.5s wipeOut 0.75s var(--ease-out-quart) forwards;
  clip-path: inset(0 0 100% 0);
}

@keyframes wipeOut {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
