* {
  box-sizing: border-box;
}
body {
  position: relative;
  height: 2000px;
  min-height: 100vh;
}
#header {
  height: 200px;
  background-color: black;
}
#blackout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: opacity 1s linear;
  transition-delay: 3s;
}
#logo {
  position: fixed;
  width: 800px;
  height: 160px;
  top: calc(50% - 80px);
  left: calc(50% - 400px);
}

.logo__text {
  font-size: 39px;
  font-weight: 600;
  letter-spacing: -2px;
  font-family: Arial;
  line-height: 0;
  padding: 0;
  margin: 0;
}

#logo__left {
  transition: all 0.3s ease-in;
  opacity: 0.7;
  transform: translateX(20px) scale(0.2, 0.2);
  transform-origin: center;
}

#logo_joly {
}

#logo__right {
  display: none;
}

#logo_bell {
}
